@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: 0;
}

.section .section__button-wrapper .btn {
  width: 130px;
  height: 130px;
  font-size: 35px;
  background: #ebebeb;
  color: #000;
  cursor: pointer;
}

.section__left {
  outline-offset: -4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 1fr;
      grid-template-rows: 200px 1fr;
  margin-left: 140px;
  z-index: 2;
}

.section__left .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 55px;
}

.section__left .header__logo {
  font-size: 22px;
  font-weight: bold;
}

.section__left .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__left .header__nav .link {
  font-size: 16px;
  margin: 0 32px;
  color: #5b5b5b;
}

.section__left main {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.section__left main .content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 70px 0;
}

.section__left main .content__bottom {
  position: relative;
  width: 115%;
  height: 100%;
  background: #d2e8db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__left main .content__heading {
  font-size: 35px;
  margin: 12px 0;
}

.section__left main .content__subheading {
  font-size: 24px;
  color: #a2a2a2;
}

.section__left main .content .hr__line {
  width: 100px;
  height: 1px;
  margin-left: 10%;
  background: rgba(85, 129, 109, 0.8);
}

.section__left main .content__description {
  width: 50%;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 20px;
  line-height: 32px;
}

.section__left main .section__button-wrapper {
  position: absolute;
  right: 0;
  top: 75%;
  -webkit-transform: translate(150%, -50%);
          transform: translate(150%, -50%);
}

.section__right {
  position: relative;
  z-index: 1;
}

.section__right .section__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section__right .section__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__right .section__image .image__transition-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.section__right .section__button-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__right .section__button-wrapper .btn--prev {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  z-index: 200;
}

.loading__wrapper .loader--text {
  color: black;
  font-family: "Rubik";
  font-weight: 900;
  margin-bottom: 1.4rem;
}

.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
}

.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}
/*# sourceMappingURL=style.css.map */